---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  // font: 18px/1.4 $helvetica;
  font-family:'Raleway', serif;
  font-size:18px;
  line-height: 1.4em;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 750px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  // font-family: $helveticaNeue;
  font-family:'wire one', serif;
  
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 45px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

a {
  color: rgb(0, 128, 128);
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: rgb(0, 85, 85);
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 20px;
}

.masthead {
  padding: 20px 0;
  // border-bottom: 1px solid $lightGray;
  
  text-align: center;

  // @include mobile {
  //   text-align: center;
  // }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  
  float: none;
  display: block;
  margin: 0 auto;

  // @include mobile {
  //   float: none;
  //   display: block;
  //   margin: 0 auto;
  // }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;
  
  float: none;
  display: block;
  margin: 0 auto;

  // @include mobile {
  //   float: none;
  //   display: block;
  //   margin: 0 auto;
  // }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;
  
  // margin: 3px 0;

  @include mobile {
    margin: 3px 0;
  }
}

.site-footer-copyrights {
  margin: 0;
  font-size: 60%;
  text-align: left;
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-family: $helveticaNeue;
  font-size: 18px;

  float: none;
  margin-top: 15px;
  display: block;
  // font-size: 16px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: rgb(0, 128, 128);
    }
  }
}

//
// .main
//

// .posts > .post {
//   padding-bottom: 2em;
//   border-bottom: 1px solid $lightGray;
// }

// .posts > .post:last-child {
//   padding-bottom: 1em;
//   border-bottom: none;
// }

// .post {
//   blockquote {
//     margin: 1.8em .8em;
//     border-left: 2px solid $gray;
//     padding: 0.1em 1em;
//     color: $gray;
//     font-size: 22px;
//     font-style: italic;
//   }

//   .comments {
//     margin-top: 10px;
//   }

//   .read-more {
//     text-transform: uppercase;
//     font-size: 15px;
//   }
// }

.wrapper-footer {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0 5px 0;
  text-align: center;
}

h3 > span {
   font-size: 35px;
  //  color: rgb(0, 128, 128);
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";

// @import "cov_style";


// NEW DIVIDER STUFF
.divider
{
	position: relative;
	// margin-top: 90px;
	height: 1px;
}
.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, #586E75 , transparent);
}
.div-dot:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: rgb(0, 128, 128);
	border: 1px solid #586E75;
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
					0 0 0 4px white;
}
// .colour-block {
//   background:rgb(0, 128, 128);
//   width:100%;
//   // padding:7% 20% 10% 20%;
//   color:#fff;
// }
