<html>
    <head>
        {% js variables.js %}
        {% js scripts.js %}
        {% js select_countries.js %}
        {% js list_countries.js %}
        {% js plots.js %}
        {% js cov19_api.js %}
        {% js vendor/jquery.csv.min.js %}

        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    </head>

    <body>
        <!--Make sure the form has the autocomplete function switched off:-->
        <form name="myForm" autocomplete="off">
            <div id="myDIV" class="header">
                <h2 class="cov19">Select Countries for Plotting</h2>
                <div class="autocomplete" style="width:300px;">
                    <input class="inputc" id="input_countries" type="text" name="myCountry" placeholder="Country">
                </div>
                <span onclick="validateCountry()" class="addBtn">Add Country!</span>
                <span id="fast_but" onclick="fastStart()" class="addBtn">Fast start!</span>
            </div>
        </form>
        <script>
             getAvailableCountries();
        </script>
        <ul id="myCountryList">
            <!-- <li>Hit the gym</li> -->
        </ul>
        <!-- PLOT -->
        <div id="casesChart_2"></div>
        
        <table id="config_table" style="visibility: hidden;">
            <tr>
                <td>Log Scale
                    <label class="switch">
                        <input type="checkbox" onclick="toggleScaleLog()">
                        <span class="slider-2 round"></span>
                    </label>
                </td>
                <td>
                    <form>
                        <p>Enter the aligning point:</p>
                        <div class="slidecontainer">
                            <input type="range" min="1" max="2000" value=100 class="slider-1" id="threshold">
                        </div>
                        <h2 id="slider_value"></h2>
                        <script>
                            var slider = document.getElementById("threshold");
                            var output = document.getElementById("slider_value");
                            output.innerHTML = `${slider.value} cases`;
                            slider.oninput = function () {
                                output.innerHTML = `${this.value} cases`;
                                if (already_plotted_2) {
                                    changeThreshold();
                                }
                            }
                        </script>
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>