<html>
    <head>
        {% js variables.js %}
        {% js scripts.js %}
        {% js select_countries.js %}
        {% js list_countries.js %}
        {% js plots.js %}
        {% js cov19_api.js %}
        {% js vendor/jquery.csv.min.js %}

        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    </head>

    <body>

        <!--Make sure the form has the autocomplete function switched off:-->
        <form name="myForm" autocomplete="off">
            <div id="myDIV" class="header">
                <h2 class="cov19">Select Countries for Plotting</h2>
                <div class="autocomplete" style="width:300px;">
                    <input class="inputc" id="input_countries" type="text" name="myCountry" placeholder="Country">
                </div>

                <!-- Button to validate input -->
                <!-- <span onclick="validateCountry()" class="addBtn">Add Country!</span>  -->
                <!-- <span id="fast_but" onclick="fastStart()" class="addBtn">Fast start!</span> -->
            </div>
        </form>

        <!-- Get the available countries (from the API) -->
        <script>
            getAvailableCountries();
        </script>

        <!-- List and plot area -->
        <div id="myDiv2" class="chartArea" style="visibility: hidden;">
            
            <!-- This will be the list of selected countries -->
            <ul id="myCountryList"></ul>

            <!-- This is the where the chart is plotted -->
            <div id="casesChart_2"></div>

            <!-- This is the plot configuration that comes after the plot -->
            <table id="config_table" style="visibility: hidden;">
                <tr>
                    <!-- Change between linear and log scale -->
                    <td><p style="text-align:center;">Log Scale</p>
                        <label class="switch">
                            <input type="checkbox" onclick="toggleScaleLog()">
                            <span class="slider-2 round"></span>
                        </label>
                    </td>

                    <!-- Change the alignement point -->
                    <td>
                        <form>
                            <p style="text-align:center;">Enter the aligning point:</p>
                            <div class="slidecontainer">
                                <input type="range" min="0" max="20" value="1" id="thresh_slider">
                            </div>
                            <!-- This displaye the currently selected alignment point -->
                            <h3 id="slider_value"></h3>
                            <script>
                                var slider = document.getElementById("thresh_slider");
                                var output = document.getElementById("slider_value");
                                output.innerHTML = `${slider.value}00 cases`;
                                slider.oninput = function () {
                                    if (this.value == "0") {
                                        output.innerHTML = `${this.value} cases`;
                                    } else {
                                        output.innerHTML = `${this.value}00 cases`;
                                    }
                                    if (already_plotted_2) {
                                        changeThreshold();
                                    }
                                }
                            </script>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>